.user-box {
  padding-left: 10px;
  padding-top: 10px;
}

.user {
  padding-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.user-card {
  height: 25rem;
}

.user-card-img {
  max-width: 100%;
  height: 10rem;
  border-radius: 10%;
}

.user-info {
  margin-top: 5px;
  width: max-content;
  margin: 0 auto;
  text-align: justify;
}

.card-bottom {
  display: flex;
  height: 15%;
}

.card-header {
  height: 20%;
  width: min-content;
  margin: 0 auto;
  text-align: justify;
}

.card-info {
  display: block;
  height: 65%;
  margin-top: 1rem;
}

/* .one-word-per-line {
  text-transform: capitalize;
  text-overflow: clip;
  word-spacing: 20rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} */

.one-word-per-line {
  overflow: hidden;
  --lh: 1.6rem;
  line-height: var(--lh);
  --max-lines: 2;
  text-transform: capitalize;
  max-height: calc(var(--lh) * var(--max-lines));
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #3f51b5;
}
