.spacer {
  flex: 1 1 auto;
}

.toggle-sidenav-btn {
  font-size: 48px;
  margin-top: -6px;
  margin-left: -2rem;
}

.mobile-form {
  width: 95%;
}

#logo {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  outline: none;
  height: 100%;
}

#img-logo {
  height: 1.45em;
  margin-top: 1.15em;
}

#site-title-box {
  display: flex;
  flex-direction: column;
  margin-left: 0.1em;
}

.site-title {
  margin-top: 0.75em;
}

.site-desc {
  font-size: xx-small;
  margin-top: -3.6em;
}
