.spacer {
  flex: 1 1 auto;
}

.toggle-sidenav-btn {
  font-size: 48px;
  margin-top: -6px;
  margin-left: -2rem;
}

.mobile-form {
  width: 95%;
}

#logo {
  display: flex;
  height: 5vh;
  width: 20vh;
  flex-direction: row;
  cursor: pointer;
  outline: none;
}

#img-logo {
  height: 3vh;
  margin-top: 0.6vh;
}

#site-name {
  display: flex;
  height: 5vh;
  width: 15vh;
  flex-direction: column;
  margin-left: 0.5vh;
}
