.spacer {
  flex: 1 1 auto;
}

.toggle-sidenav-btn {
  font-size: 48px;
  margin-top: -6px;
  margin-left: -2rem;
}

.mobile-form {
  width: 95%;
}

#logo {
  display: flex;
  height: 5vh;
  width: 20vh;
  flex-direction: row;
  cursor: pointer;
  outline: none;
  height: 100%;
}

#img-logo {
  height: 3vh;
  margin-top: 2vh;
}

#site-title-box {
  display: flex;
  height: 5vh;
  width: 15vh;
  flex-direction: column;
  margin-left: 0.1vh;
}

.site-title {
  margin-top: 1.7vh;
}

.site-desc {
  font-size: xx-small;
  margin-top: -3vh;
}
