<!-- Conteudo -->
<div style="margin-left: 10px; margin-top: 10px" *ngIf="!isBookFound">
  <h3>Resenha nao encontrada para o livro pesquisado</h3>
</div>
<div
  fxLayoutAlign.lt-sm="space-around center"
  fxLayoutAlign.lt-md="space-strecht start"
  fxLayoutAlign.lt-lg="space-strecht start"
  fxLayoutAlign.lt-xl="space-strecht start"
  fxLayoutAlign.gt-lg="space-strecht start"
  fxLayout.lt-sm="column"
  fxLayout.lt-md="row wrap"
  fxLayout.lt-lg="row wrap"
  fxLayout.lt-xl="row wrap"
  fxLayout.gt-lg="row wrap"
  class="review-box"
>
  <div
    fxFlex.lt-md="33"
    fxFlex.lt-lg="33"
    fxFlex.lt-xl="20"
    fxFlex.gt-lg="16"
    class="review"
    *ngFor="let review of reviews; index as i"
  >
    <mat-card class="review-card">
      <div id="card-header" style="height: 75%">
        <h3 class="book-title">{{ review.bookTitle }}</h3>
        <mat-card-content>
          <p class="review-info">{{ review.review }}</p>
        </mat-card-content>
      </div>

      <div id="card-info" style="display: flex; height: 15%; margin-top: 1rem">
        <mat-card-actions>
          <button
            mat-button
            (click)="addReviewToFavorites(i)"
            title="Curtir"
            *ngIf="isAuthenticated && !canEditReview"
          >
            <mat-icon color="{{ review.favorites > 0 ? 'warn' : 'basic' }}"
              >favorite</mat-icon
            ><span *ngIf="review.favorites > 0">{{ review.favorites }}</span>
          </button>
          <button mat-button (click)="seeReview(i)" title="Ver resenha">
            <mat-icon>preview</mat-icon>
          </button>
          <button
            mat-button
            (click)="editReview(i)"
            *ngIf="canEditReview"
            title="Editar"
          >
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button
            mat-button
            (click)="deleteReview(i)"
            *ngIf="canEditReview"
            title="Excluir"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </div>

      <div id="card-bottom" style="display: flex; height: 10%">
        <div id="date" style="width: 65%">
          <mat-card-subtitle>{{
            review.insertDate | date: "dd/MM/yyyy HH:mm"
          }}</mat-card-subtitle>
        </div>
        <div id="nickname" style="width: 35%; text-align: right">
          <mat-card-subtitle
            style="cursor: pointer"
            [routerLink]="['/user/profile']"
            [queryParams]="{ userId: review.userId }"
            >{{ review.nickname }}</mat-card-subtitle
          >
        </div>
      </div>
    </mat-card>
  </div>
</div>
