<app-header [inputSideNav]="sidenav"></app-header>

<mat-sidenav-container
  class="content-container"
  [hasBackdrop]="mobileQuery.matches ? 'true' : 'false'"
>
  <!-- menu lateral -->
  <mat-sidenav
    #sidenav
    [opened]="mobileQuery.matches ? 'over' : 'side'"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
  >
    <app-menu></app-menu>
  </mat-sidenav>

  <!-- conteudo -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- rodape -->
<app-footer></app-footer>
