<div style="margin-left: 10px; margin-top: 10px">
  <form #searchForm="ngForm">
    <mat-form-field style="width: 25rem">
      <mat-label>&nbsp;&nbsp;Buscar livro</mat-label>
      <input
        [formControl]="searchField"
        type="search"
        name="bookTitle"
        id="bookTitle"
        matInput
        placeholder="Ex. Dom Casmurro"
        style="width: 100%"
        minLength="3"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </form>
</div>

<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>

<ng-template *ngIf="!isLoading">
  <div
    style="margin-left: 5px; margin-top: 5px"
    *ngIf="startTheSearch && !books"
  >
    <h3 class="mat-h3 mat-subheading-2">
      A pesquisa para o livro
      <span style="font-size: x-large">"{{ bookTitle }}"</span>
      não retornou nenhum resultado
    </h3>
  </div>

  <div style="margin-left: 5px; margin-top: 5px" *ngIf="startTheSearch">
    <h3 class="mat-h3 mat-subheading-2">
      Resultado da busca para o termo<span style="font-size: x-large"
        >"{{ bookTitle }}"</span
      >
    </h3>
  </div>
</ng-template>

<div
  fxLayoutAlign.lt-sm="space-around center"
  fxLayoutAlign.lt-md="space-strecht start"
  fxLayoutAlign.lt-lg="space-strecht start"
  fxLayoutAlign.lt-xl="space-strecht start"
  fxLayoutAlign.gt-lg="space-strecht start"
  fxLayout.lt-sm="column"
  fxLayout.lt-md="row wrap"
  fxLayout.lt-lg="row wrap"
  fxLayout.lt-xl="row wrap"
  fxLayout.gt-lg="row wrap"
  class="book-box"
  *ngIf="!isLoading"
>
  <div
    fxFlex.lt-md="100"
    fxFlex.lt-lg="50"
    fxFlex.lt-xl="33"
    fxFlex.gt-lg="20"
    *ngFor="let book of books; index as i"
    class="book"
  >
    <mat-card class="book-card">
      <div id="card-header" style="display: flex; height: 40%">
        <div style="width: 50%">
          <img
            class="book-card-img"
            [src]="
              book.imagePath !== null
                ? book.imagePath
                : 'assets/img/no-image-icon.png'
            "
          />
        </div>
        <div id="content" style="width: 50%">
          <h4 class="book-title">{{ book.title }}</h4>
          <h5 class="mat-small mat-caption">{{ book.authors }}</h5>
          <h5 class="mat-small mat-caption">{{ book.publisher }}</h5>
          <h5 class="mat-small mat-caption">
            {{ book.pageCount }}
            {{ (book.pageCount && "páginas") || book.pageCount }}
          </h5>
        </div>
      </div>

      <div id="card-info" style="display: flex; height: 45%; margin-top: 1rem">
        <mat-card-content>
          <p class="book-info mat-body mat-body-1">{{ book.description }}</p>
        </mat-card-content>

        <mat-card-subtitle class="book-title">{{
          book.nickname
        }}</mat-card-subtitle>
      </div>

      <div id="card-bottom" style="display: flex; height: 10%">
        <mat-card-actions>
          <button mat-button (click)="saveBook(i)" title="Salvar">
            Salvar
          </button>

          <button mat-button (click)="addToWishlist(i)" title="Salvar">
            Lista de desejos
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
